<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocuMind AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="header">
        <h1>📚 DocuMind AI</h1>
        <p>Chat with your PDFs using AI</p>
    </div>

    <div class="upload-section">

        <h3>Upload PDF</h3>

        <input type="file" id="pdfFile">

        <button id="uploadBtn">Upload</button>

    </div>

    <div class="chat-box" id="chatBox">

        <div class="message bot">
            👋 Hello! Upload a PDF and ask me anything.
        </div>

    </div>

    <div class="input-area">

        <input
            type="text"
            id="userInput"
            placeholder="Ask something..."
        >

        <button id="sendBtn">Send</button>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>